


@font-face {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~assets/fonts/BarlowCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('~assets/fonts/BarlowCondensed-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~assets/fonts/HelveticaNeueMed.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('~assets/fonts/HelveticaNeueBd.ttf') format('truetype');
}

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~assets/fonts/Mulish-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('~assets/fonts/Mulish-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'Satisfy';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~assets/fonts/Satisfy-Regular.ttf') format('truetype');
}




#fp-nav {


    display: none;
}



