
@tailwind base;
@tailwind utilities;

@layer base {



    * {

        margin: 0;
        padding: 0;
        box-sizing: border-box;



    }

    *:focus {
        outline: 0;
    }

    button:focus {
        outline: 0;
    }


    *, :hover, :focus, :active, :visited {
        outline: none;

    }


    body {

        height: 100%;
        width: 100%;
        word-spacing: 0.06em;
        letter-spacing: 0.04em;
        background-color: #252328;

    }

    .cursor-pointer {



        cursor: url(./static/pointer_cursor.png),pointer;

    }

    .cursor-pointer:active {



        cursor: url(./static/bang_cursor.png),pointer;

    }

    .cursor-default {

        cursor: url(./static/default_cursor.png),default;

    }


    html {

        scroll-behavior: smooth;
    }


    .bg-white {

        --tw-bg-opacity: 1;
        background-color: rgba(255, 255, 255, var(--tw-bg-opacity));

    }

    figcaption {

        color: white;

    }

    .bottom-1 {

        bottom: 0.25rem

    }

    .bottom-4 {

        bottom: 1rem

    }

    .bottom-8 {

        bottom: 2rem

    }


    .bottom-12 {

        bottom: 3rem;

    }

    .bottom-16 {

        bottom: 4rem;

    }

    .bottom-20 {

        bottom: 5rem;

    }

    .bottom-1\/20 {

        bottom: 5%;

    }



    .bottom-1\/2 {

        bottom: 50%;

    }


    .top-2 {

        top: 0.5rem;

    }


    .top-4 {

        top: 1rem;

    }


    .top-12 {


        top: 3rem;

    }


    .top-20 {

        top: 5.25rem;

    }

    .top-24 {

        top: 5.75rem;

    }

    .top-28 {

        top: 7.25rem;

    }

    .top-32 {

        top: 8.5rem;
    }

    .top-36 {

        top: 10.5rem;
    }


    .left-2\/4 {

        left: 50%;

    }


    .left-2 {

        left: 0.5rem;
    }

    .left-4 {

        left: 1rem;
    }


    .left-16 {

        left: 4rem;
    }

    .right-1 {

        right: 0.25rem

    }

    .right-2 {

        right: 0.5rem

    }

    .right-4 {

        right: 1rem;

    }
    .right-8 {

        right: 2rem;

    }

    .right-12 {

        right: 3rem;

    }

    .right-28 {

        right: 6.5rem;

    }


    .h-0\.5 {

        height: 0.25rem;

    }

    .h-40 {

        height: 11rem;

    }

    .h-44 {

        height: 11rem;

    }

    .h-48 {

        height: 12rem;

    }




    .h-72 {

        height: 18rem;

    }

    .h-108 {

        height: 28rem
    }

    .h-112 {

        height: 30rem
    }


    .h-132 {

        height: 36rem;

    }

    .h-164 {

        height: 44rem;

    }

    .h-1\/3 {

        height: 33%;

    }


    .h-1\/2 {

        height: 50%;

    }



    .h-2\/5 {

        height: 40%;

    }

    .h-3\/4 {

        height: 75%;

    }

    .max-h-0 {

        max-height: 0;

    }

    .w-36 {

        width: 9rem;

    }

    .w-52 {

        width: 13rem;

    }


    .w-72 {


        width: 18rem;
    }


    .w-80 {


        width: 20rem;
    }

    .w-116 {

        width: 32rem;

    }


    .text-white {

        --tw-text-opacity: 1;
        color: rgba(255, 255, 255, var(--tw-text-opacity));

    }


    .border-12 {

        border-width: 12px;

    }

    #fp-nav {

        display: none;

    }


    .circle1 {

        top:31vh


    }

    .circle2 {

        top:33vh


    }

    .circle3 {

        top:35vh


    }

    .ribbon {

        bottom: 3rem;

    }

    [data-anchor="page1"] {

        background-image: url("~assets/graphic/bg_green.png?sizes[]=600&format=webp");


    }

    [data-anchor="page3"]:before {


        top:5px;
        left: 17px;
        width: 90%;

    }


    [data-anchor="page3"]:after {


        width: 90%;
        bottom: 5px;
        left: 17px;

    }

    [data-anchor="page3"] .bg_stars:before {

        width: 3%;
        height: 95%;
        left: 5px;

    }

    [data-anchor="page3"] .bg_stars:after {

        width: 3%;
        height: 95%;
        right: 5px;

    }



    .hat {

        animation: matrix 7s ease infinite;
        top: 2rem;
    }
    .logo {

        top: 2rem;
        width: 66%;

    }



.light_background:before {

    background-image: url('~assets/graphic/light_background_medium.png?sizes[]=250&format=webp');




}



    @screen sm {




        .ribbon {

            bottom: 1rem;

        }

        [data-anchor="page3"]:before {


            top:5px;
            left: 15px;
            width: 95%;

        }


        [data-anchor="page3"]:after {


            width: 95%;
            bottom: 5px;
            left: 15px;

        }

        [data-anchor="page3"] .bg_stars:before {


            width: 3%;
            height: 90%;
            left: 5px;
            top: 18px;
        }

        [data-anchor="page3"] .bg_stars:after {


            right: 5px;
            width: 3%;
            height: 90%;
            top: 18px;
        }



        .section-1 img:first-child {


            top: 0.5rem;

        }




    }


    @screen md {


        [data-anchor="page1"] {

            background-image: url("~assets/graphic/bg_green.png?sizes[]=1080&format=webp");


        }


        .hat {


            height: 50%;
        }

        [data-anchor="page3"]:before {


            top: 5px;
            left: 15px;
            width: 96%;

        }


        [data-anchor="page3"]:after {


            left: 16px;
            width: 96%;
            bottom: 5px;

        }

        [data-anchor="page3"] .bg_stars:before {



            width: 3%;
            height: 96%;
            left: 5px;
            top: 25px;

        }

        [data-anchor="page3"] .bg_stars:after {


            right: 5px;
            width: 3%;
            height: 96%;
            top: 25px;

        }




        [data-anchor="page2"] .welcome_studio div span:after {

            height: 18px;
        }

        [data-anchor="page4"] article div span:after {
            height: 18px!important;


        }




        #form {

            --ratio: 9 / 16;
            --width: 98vmin;
            --height: calc(var(--width) * var(--ratio));

            margin: 0 auto;
            width: 90vmin;
            height: 70vh;
            display: flex;
            flex-direction: column;
        }

        #form input {


            height: 5vh ;

        }


        #form textarea {

            height: 20vh ;

        }


    }


    @screen lg {



        .light_background:before {


            background-image: url('~assets/graphic/light_background.png?sizes[]=1280&format=webp');


        }


        .slide {


            height: 50vh;
        }






    }



    @screen xl {






        .hat {

            top:3rem

        }


        .logo {

            top:9vh

        }



        #form {


            height: 100vh;
        }


        .circle1 {


            top: 31vh;
            left:50vw
        }

        .circle2 {


            top: 33vh;
            left:48vw
        }

        .circle3 {


            top: 35vh;
            left:47vw
        }




        [data-anchor="page3"]:before {


            top: 5px;
            left: 10px;
            width: 98%;

        }


        [data-anchor="page3"]:after {


            left: 10px;
            width: 98%;
            bottom: 5px;


        }

        [data-anchor="page3"] .bg_stars:before {


            width: 3%;
            height: 95%;
            left: 5px;
            top: 18px;
        }

        [data-anchor="page3"] .bg_stars:after {


            right: 5px;
            width: 3%;
            height: 95%;
            top: 18px;
        }


        #fp-nav.fp-right {


            right: 10px;
            cursor: default;
        }

        #fp-nav {


            display: block;
        }


        #fp-nav ul li a span, .fp-slidesNav ul li a span {

            height: 12px !important;
            width: 12px !important;
            margin: -2px 0 0 -7px !important;
            transition: all 0.3s ease-in-out !important;
            background: white!important;
        }


        #fp-nav ul li, .fp-slidesNav ul li {
               display: block;
               width: 25px;
               height: 65px !important;
               margin: 5px !important;
               position: relative;
           }


        #fp-nav ul li, .fp-slidesNav ul li {
            display: block;
            width: 25px;
            height: 65px !important;
            margin: 5px !important;
            position: relative;
        }

        #fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
            height: 30px !important;
            width: 30px !important;
            margin: -16px 0 0 -16px !important;
            border-radius: 100%;
        }

        #fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
            width: 20px !important;
            height: 20px !important;
            margin: -7px 0 0 -11px !important;
            background: #a1362b !important;

        }


        #fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {

            background: #a1362b !important;
        }


        #fp-nav ul li:focus::before {

            display: inline-table;

            transition: border-top-color 0.15s linear,
            border-right-color 0.15s linear 0.10s,
            border-bottom-color 0.15s linear 0.20s;
        }


        .fp-slidesNav ul li:focus::after {

            border-left-width: 2px;
            border-right-width: 2px;
            transform: rotate(270deg);
            transition: transform 0.4s linear 0s,
            border-left-width 0s linear 0.35s;
            background: green !important;
        }


        .wolf {

            bottom: 4rem;
        }


    }


    @screen 2xl {

        .light_background:before {


            background-image: url('~assets/graphic/light_background.png?sizes[]=1280&format=webp');


        }

        .ribbon {

            bottom: 5rem;

        }

        .ribbon figcaption {


            font-size: 1.4vw ;

        }




        [data-anchor="page2"] .welcome_studio > div >  span:after {

            height: 15px!important;

        }

        .about_me span:after , .portfolio_case span:after {

            height: 20px!important;
        }


        #form {
            height: 110vh;

        }


        .circle1 {

            left: 48vw;
            top: 31vh;

        }

        .circle2 {

            left: 48.5vw;
            top: 33vh;

        }


        .circle3 {

            left: 49vw;
            top: 34.5vh;

        }


        [data-anchor="page3"]:before {

            bottom: 14px;
            width: 97.8%;
            left: 18px;
            height: 16px;
            top: auto;
        }


        [data-anchor="page3"]:after {

            top: 6px;
            width: 97.6%;
            height: 15px;
            left: 18px;

        }

        [data-anchor="page3"] .bg_stars:before {


            top: 20px;
            width: 15px;
            left: 10px;
            height: 95%;
        }

        [data-anchor="page3"] .bg_stars:after {

            top: 20px;
            width: 15px;
            right: 13px;
            height: 95%;
        }




    }


    @keyframes matrix {


        0% {

            transform: translateX(5%);
        }

        25% {

            transform: translateY(-5%);
        }
        50% {

            transform: translateX(-5%);
        }

        75% {

            transform: translateY(5%);
        }
        100% {

            transform: translateX(5%);
        }


    }

    .spotlight-enter-active {

        animation: 2s spotlight reverse;


    }
    .spotlight-leave-active { animation: 2s spotlight 1.5s;
    }

    @keyframes spotlight {
        0% { clip-path: circle(100% at 50% 50%); }
        25% { clip-path: circle(20% at 50% 50%); }
        50% { clip-path: circle(20% at 12% 84%); }
        75% { clip-path: circle(20% at 93% 51%); }
        100% { clip-path: circle(20% at -30% 20%); }
    }


    .slots {

        background-color: black;
    }

    .spotlight {


        background-color: black;


    }


    .slots-enter-active { animation: 1s slots reverse;
    }
    .slots-leave-active { animation: 1s slots 1.5s; }

    @keyframes slots {
        0% {
            clip-path: polygon(0% 0%, 14% 0%, 14% 0%, 28% 0%, 28% 0%, 42% 0%, 42% 0%, 56% 0%, 56% 0%, 70% 0%, 70% 0%, 84% 0%, 84% 0%, 100% 0, 100% 100%, 0% 100%);
        }
        50% {
            clip-path: polygon(0% 0%, 14% 0%, 14% 100%, 28% 100%, 28% 0%, 42% 0%, 42% 100%, 56% 100%, 56% 0%, 70% 0%, 70% 100%, 84% 100%, 84% 0%, 100% 0, 100% 100%, 0% 100%);
        }
        100% {
            clip-path: polygon(0% 100%, 14% 100%, 14% 100%, 28% 100%, 28% 100%, 42% 100%, 42% 100%, 56% 100%, 56% 100%, 70% 100%, 70% 100%, 84% 100%, 84% 100%, 100% 100%, 100% 100%, 0% 100%);
        }
    }





}













@layer utilities {

    .filter-shadow-black {
        filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
    }

    .filter-shadow-green {

        filter: drop-shadow(5px 6px 0 #4f7b70);
    }

}
